<link rel="stylesheet" href="/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
<!--
<script type="text/javascript">
	$(window).load(function() {
    	$('#slider').nivoSlider({
        	effect: 'random',
        	slices: 15,
        	boxCols: 8,
        	boxRows: 4,
        	animSpeed: 500,
        	pauseTime: 3000,
        	startSlide: 0,
        	directionNav: true,
        	controlNav: true,
        	controlNavThumbs: false,
        	pauseOnHover: true,
        	manualAdvance: false,
        	prevText: 'Prev',
        	nextText: 'Next',
        	randomStart: false,
        	beforeChange: function(){},
        	afterChange: function(){},
        	slideshowEnd: function(){},
        	lastSlide: function(){},
        	afterLoad: function(){}
    	});
	});
</script>
-->	
<style type="text/css">
    .nivo-controlNav {
        display: none;
    }
    .theme-default .nivoSlider {
        margin-bottom: 0px;
</style>

<div class="imgFrame">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
        </div>
    </div>
</div>
<!--
<div id="slider" class="nivoSlider">
	<img src="/images/slides/mastheadHome.jpg" data-thumb="/images/slides/mastheadHome.jpg" alt="" />
	<img src="/images/slides/mastheadWhoWeAre.jpg" data-thumb="/images/slides/mastheadWhoWeAre.jpg" alt="" title="This is an example of a caption" />
	<img src="/images/slides/mastheadServices.jpg" data-thumb="/images//slides/mastheadServices.jpg" alt="" data-transition="slideInLeft" />
	<img src="/images/slides/mastheadFieldActivities.jpg" data-thumb="/images/mastheadFieldActivities.jpg" alt="" title="#htmlcaption" />
    <img src="/images/slides/mastheadNews.jpg" data-thumb="/images/mastheadNews.jpg" alt="" title="#htmlcaption" />
    <img src="/images/slides/mastheadDownloads.jpg" data-thumb="/images/mastheadDownloads.jpg" alt="" title="#htmlcaption" />
    <img src="/images/slides/mastheadContact.jpg" data-thumb="/images/mastheadContact.jpg" alt="" title="#htmlcaption" />
</div>
-->
<script type="text/javascript" src="/nivo-slider/jquery.nivo.slider.js"></script>
